.list-header {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  &__label,
  input[type='checkbox'],
  &__icon {
    cursor: pointer;
  }

  &__label {
    padding-left: 5px;
  }

  &__icon {
    font-size: 18px;
  }
}
