.message {
  width: 190px;
  position: fixed;
  top: 50px;
  right: 10px;
  padding: 16px;
  background-color: rgba(green, 0.65);
  border-radius: 6px;

  @media screen and (max-width: 768px) {
    width: 255px;
    top: 41px;
    padding: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--error {
    background-color: rgba(red, 0.65);
  }

  &__text {
    text-align: center;
    color: black;
    margin: 0;
  }
}
