.message {
  position: fixed;
  top: 50px;
  right: 10px;
  padding: 16px;
  background-color: rgba(green, .65);
  border-radius: 6px;

  @media screen and (max-width: 768px) {
    top: 41px;
    padding: 8px;
    right: 0;
    left: 0;
    border-radius: 0;
  }

  &--error {
    background-color: rgba(red, .65);
  }

  &__text {
    text-align: center;
    color: black;
    margin: 0;
  }
}